body {
    padding: 0;
    margin: 0;
}

header {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    background-color: grey;
}

.videos {
    display: grid;
    grid-template-rows: repeat(4, 20px 150px) 20px;
    grid-template-columns: repeat(4, 4% 20%) 4%;
}

.box {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    border-style: solid;
    border-width: thin; 
}