#bigCard {
    width: 45vw;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

#bigCard div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: initial;
}

article {
    width: 35vw;
}

img {
    height: 5vw;
    width: 5vw;
}